<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <!-- TESTING- observer, actual observer should observe sales_order_place_after-->
    <event name="mageplaza_helloworld_display_text">
        <observer name="afterOrderObserver" instance="Clearbanc\FundingPage\Observer\OrderData"/>
    </event>
    <!-- <event name="sales_order_place_after">
        <observer name="afterOrderObserver" instance="Clearbanc\FundingPage\Observer\OrderData"/>
    </event> -->
</config>
